.container {
    text-align: center;
}

.content {
    height: auto;
    width: 100%;
    background:green;
    position: absolute;
    background: white;
    margin-top: 100px;
}
.div {
    margin-left: 5px;
    margin-top: 10px;
}