.footer {
    width: 100%;
    background-color: steelblue;
    text-align: center;
    width: 100%;
    background: #4682b4;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.15);
}

.p {
    text-align: center;
    font-weight: lighter;
}

.container {
    
}